<div class="container">
  <div class="content">
    <main class="main">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-container">
        
        <mat-form-field   appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" required />
        </mat-form-field>

        <mat-form-field hintLabel="Max 8 characters"  appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="isPasswordVisible ? 'text' : 'password'"
            formControlName="password"
            #input
            maxlength="8"
            required
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            aria-label="Toggle password visibility"
            (click)="togglePasswordVisibility()"
          >
            <mat-icon>{{ isPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-hint align="end">{{ input.value.length || 0 }}/8</mat-hint>
        </mat-form-field>
        

        <mat-form-field   appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput 
                 [type]="isConfirmPasswordVisible ? 'password' : 'text'" 
                 formControlName="confirmPassword" 
                 required />
                 <button
                 mat-icon-button
                 matSuffix
                 type="button"
                 aria-label="Toggle password visibility"
                 (click)="toggleConfirmPasswordVisibility()"
               >
                 <mat-icon>{{ isPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
               </button>
        </mat-form-field>

        <mat-form-field   appearance="outline">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role" required>
            <mat-option value="Intern">Intern</mat-option>
            <mat-option value="Employee">Employee</mat-option>
            <mat-option value="Manager">Manager</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="button-group">
          <button mat-raised-button color="warn" type="button" class="cancel-btn" (click)="onCancel()">Cancel</button>
          <button mat-raised-button color="primary" type="submit" class="submit-btn" [disabled]="!userForm.valid">Submit</button>
        </div>
      </form>
    </main>
  </div>
</div>
