<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input
        matInput
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        placeholder="Enter your username"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="isPasswordVisible ? 'text' : 'password'"
        id="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Enter your password"
        required
      />
      <button
        mat-icon-button
        type="button"
        (click)="togglePasswordVisibility()"
        aria-label="Toggle password visibility"
        class="eye-icon"
      >
        <mat-icon>{{ isPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>
